body {background: black;
}

.sky-container {
    transform: rotate(45deg);
    position: absolute;
    margin: 250px 0 0 500px;
}

.star {
    background: linear-gradient(90deg,
    rgba(0, 0, 255, 0),
    #769ee4,
    rgba(0, 0, 255, 0));
    width: 10px;
    height: 2px;
    position: absolute;
    animation: tail 3s ease-in-out infinite,
    shooting 3s ease-in-out infinite;
}

.star::after, .star::before {
    content: " ";
    width: 10px;
    height: 3px;
    background: linear-gradient(90deg,
    rgba(0, 0, 255, 0),
    #769ee4,
    rgba(0, 0, 255, 0));
    right: 0;
    position: absolute;
    animation: shining 3s ease-in-out infinite;
    transform: rotate(45deg);
}

.star::after {
    transform: rotate(135deg);
}

@keyframes tail {
    0% {
        width: 0;
    }
    30% {
        width: 150px;
    }
    100% {
        width: 0;
    }
}

@keyframes tail {
    0% {
        width: 0;}
        30% {
            width: 150px;
        }
        100% {
            width: 0;
        }
}

@keyframes shooting {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(320px);
    }
}

@keyframes shining {
    0% {
        width: 0;
    }
    60% {
        width: 40px;
    }
    100% {
        width: 0;
    }
}

.star:nth-child(5) {
    top: 15px;
    right: 100px;
    animation-delay: 0.1s;
}

.star:nth-child(4) {
    top: 200px;
    right: 5px;
    animation-delay: 0.03s;
}

.star:nth-child(3) {
    top: 100px;
    right: 20px;
    animation-delay: 0.25s;
}

.star:nth-child(2) {
    top: 60px;
    right: 14px;
    animation-delay: 0.2s;
}

.star:nth-child(1) {
    top: 24px;
    right: 10px;
    animation-delay: 0.000015s;
}

.image img{
    position: absolute;
    width: 300px;
    height: 170px;
}

.image img:nth-child(1) {
    width: 50%;
    bottom: 0;
    left: 0;
}

.image img:nth-child(2) {
    width: 40%;
    right: 0;
    top: 0;
}